@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.bright {
  color: red
}

nav {
  display: flex;
  justify-content:flex-start;
  background: gainsboro;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav li a {
  color: black;
  background: orange;
  padding-left: 1.5rem;
  font-family: monospace;
}
* {font-family: 'Roboto', sans-serif;}

rt {
  color: magenta;
}

img {
  border: 0.1em dashed orange;
  /* margin: -12px; */
}

img.kitty {
  border: 0.8rem double #92a1ce;
  background: gray;
  padding: 1.2em;
}

article.bash-tip {
  padding-left: 3em;
}

.huzzah {
  font-size: larger;
  color: orangered;
  font-variant: small-caps;
}

.course-name {
  font-weight: 900;
  font-size: 1.4em;
  font-variant: small-caps;
  font-style: italic;
}

.assignment-name {
  font-weight: bold;
  color: steelblue;
}

.bash-example {
  font-family: monospace;
  padding: 1em;
  width: 80%;
  border-width: 0.18em;
  border-radius: 0px 1em 1em 1em;
  border-style: dotted;
  background-color: gray;
}

.shell-prompt {
  color: limegreen;
  font-weight: bold;
  font-size: 0.9em;
}

.shell-command {
  color: coral;
  font-size: 1.1em;
}

.shell-argument {
  color: deepskyblue;
}

.shell-pipe-redirect {
  color: gold;
}

.shell-stdout {
  /* placeholder */
}
